---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Page from "../../components/Page.astro";
import { getGallery } from "../../content.config";

const gallery = await getGallery();
const itemCount = gallery.length;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="md:px-6">
      <section>
        <div class="pb-4">
          <h2>Gallery</h2>
        </div>
        <ul class="list-none p-0 columns-1 md:columns-2 lg:columns-3 gap-4">
          {
            gallery.map((item) => (
              <li class="group break-inside-avoid mb-6 bg-white pb-1 rounded-xl shadow">
                <a
                  href={`/gallery/${item.id}/`}
                  class="w-full hover:no-underline hover:brightness-100 break-inside-avoid"
                >
                  <img
                    src={item.data.src}
                    alt={item.data.alt}
                    class="object-cover w-full rounded-b-none"
                  />
                  <h4 class="pt-2 px-2 text-base-content group-hover:text-success group-hover:brightness-75 sm:text-3xl md:text-2xl capitalize">
                    {item.data.title}
                  </h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </Page>
    <Footer />
  </body>
</html>
