---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Page from "../../components/Page.astro";
import { getBlogs } from "../../content.config";

const posts = await getBlogs();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="md:px-6">
      <section>
        <div class="pb-10">
          <h2>Latest Posts</h2>
          <p>Piping hot posts fresh from the press!</p>
        </div>
        <ul
          class="list-none p-0 items-center grid md:grid-cols-2 xl:grid-cols-3 gap-4"
        >
          {
            posts.map((post) => (
              <li class="group w-full max-w-720 mb-auto">
                <a
                  href={`/blog/${post.id}/`}
                  class="hover:no-underline hover:brightness-100 flex flex-col"
                >
                  <img
                    src={post.data.heroImage}
                    alt=""
                    class="aspect-video h-full object-contain"
                    width="720"
                  />
                  <h4
                    class:list={{
                      "pt-2 text-base-content group-hover:text-success group-hover:brightness-75 sm:text-3xl md:text-2xl lg:text-3xl xl:text-2xl": true,
                      "text-center": !!post.data.isOneOff,
                    }}
                  >
                    {post.data.title}
                  </h4>
                  <FormattedDate
                    class:list={{
                      "text-base-content/90 font-medium": true,
                      invisible: !!post.data.isOneOff,
                    }}
                    date={post.data.date}
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </Page>
    <Footer />
  </body>
</html>
