---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Page from "../../components/Page.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="">
      <section>
        <h2>Emma's Latest</h2>
        <p>Piping hot posts fresh from the press!</p>
        <br />
        <ul
          class="list-none p-0 items-center grid md:grid-cols-2 xl:grid-cols-3 gap-4"
        >
          {
            posts.map((post) => (
              <li class="group w-full max-w-720 mb-auto">
                <a
                  href={`/blog/${post.id}/`}
                  class="hover:no-underline hover:brightness-100"
                >
                  <img
                    src={post.data.heroImage}
                    alt=""
                    class="aspect-video h-full"
                    width="720"
                  />
                  <h4 class="pt-2 text-base-content group-hover:text-success group-hover:brightness-75 sm:text-3xl md:text-2xl lg:text-3xl xl:text-2xl">
                    {post.data.title}
                  </h4>
                  <FormattedDate
                    class="text-base-content/90 font-medium"
                    date={post.data.date}
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </Page>
    <Footer />
  </body>
</html>
