---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../components/Page.astro";
import { getCollection } from "astro:content";
import { getGallery } from "../content.config";
import avatar from "../images/emma_avatar.png";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const latestPost = posts.at(0)!;

const gallery = await getGallery();
const latestPhoto = gallery.at(0)!;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="w-720 max-w-screen sm:max-w-main mx-auto">
      <section class="bg-base-100 rounded-b-lg rounded-r-lg space-y-6">
        <h1>
          <img
            class="inline h-18 -translate-y-1 mr-0.5"
            src="animated_emoji/crocodile.png"
            alt="ðŸŠ"
          />
          Welcome!
        </h1>
        <p>Hi, I'm Emma Dunn and this is my personal archive!</p>
        <p>
          I'm a librarian interested in technology, education and the natural
          world.

          <div
            class="md:float-right inline-flex flex-col gap-2 md:translate-x-3 transition-all duration-500 ease-in-out bg-white shadow-lg p-2 pb-3 rounded-lg"
          >
            <img
              class="aspect-square object-contain h-full md:max-h-64 rounded"
              src={avatar.src}
              alt="Emma's avatar"
            />
            <div class="flex flex-wrap gap-2">
              <span
                class="bg-gradient-to-r from-base-100 to-base-200 rounded-tr-md rounded-bl-md w-fit pl-3 pr-4 py-1 text-base font-bold -rotate-2"
              >
                #me
              </span>
              <span
                class="bg-gradient-to-r from-base-100 to-base-200 rounded-tr-md rounded-bl-md w-fit pl-3 pr-4 py-1 text-base font-bold -rotate-2"
              >
                #illustration
              </span>
            </div>
          </div>
        </p>

        <p>
          Check out my <span>
            <a href={`/blog/${latestPost.id}/`}> latest blog post </a>
          </span> or my <span>
            <a href={`/gallery/${latestPhoto.id}/`}> latest photo. </a>
          </span>
        </p>

        Send me an
        <span><a href={`mailto:ed.lib@outlook.com`}>email</a></span>
        or shoot me a message on
        <span
          ><a href={`https://discord.gg/XFP2RrMQ9X`} target="_blank">Discord</a>
          so we can connect!
        </span>
      </section>
    </Page><Footer />
  </body>
</html>
