---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "../components/Page.astro";

type Props = CollectionEntry<"gallery">["data"] & {
  width: number;
  height: number;
};

const {
  title,
  description,
  dateArchived,
  dateCreated,
  src,
  alt,
  width,
  height,
} = Astro.props;

const isPortrait = height >= width;
const isLandscape = !isPortrait;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Page class="md:px-6">
      <section
        class:list={[
          "grid gap-y-6",
          {
            "md:grid-flow-col md:grid-cols-2": isPortrait,
            "grid-flow-row": isLandscape,
          },
        ]}
      >
        <div>
          <img
            class:list={[
              "object-cover",
              {
                "max-h-720 h-full flex grow": isPortrait,
              },
            ]}
            src={src}
            alt={alt}
          />
        </div>
        <div
          class:list={[
            "px-4 grid",
            { "sm:grid-cols-2": isLandscape, "sm:grid-rows-2": isPortrait },
          ]}
        >
          <div class="text-left">
            <h1>
              {title}
            </h1>
            <p class="pb-2 md:pt-2.5 md:pb-3">{description}</p>
            <div class="">
              {
                dateCreated && (
                  <div>
                    <span class="font-semibold">Created</span>
                    <FormattedDate date={dateCreated} />
                  </div>
                )
              }
              <span class="font-semibold">Archived</span>
              <FormattedDate date={dateArchived} />
            </div>
          </div>
          <table
            class:list={[
              "table w-3/4 h-fit",
              {
                "place-self-end": isLandscape,
                "self-end": isPortrait,
              },
            ]}
          >
            <thead>
              <tr>
                <td> width </td>
                <th> height </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {width}
                </td>
                <td>
                  {height}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="space-y-6">
          <slot />
        </div>
      </section>
    </Page>

    <Footer />
  </body>
</html>
